#info_sub {
    width: 100%;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
  
    .inner {
      width: 1180px;
      margin: 0 auto;
      padding: 15px 0;
      text-align: center;
  
      h1 {
        font: bold 10px/1 'arial';
        color: #000;
      }
  
      ul {
        display: inline-block;
  
        li {
          float: left;
          position: relative;
  
          a {
            font: bold 12px/1 'arial';
            color: #767676;
            padding: 0 10px;
          }
  
          &::after {
            content: '';
            display: block;
            width: 1px;
            height: 40%;
            position: absolute;
            top: 40%;
            right: 0;
            background: #ccc;
          }
  
          &:last-child::after {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: $tablet){
    #info_sub .inner{
        width: 100%; 
    }
}


@media screen and (max-width: $mobile){
    #info_sub .inner {
        width: 100%;
      
        ul li {
          &:nth-of-type(1), &:nth-of-type(3) {
            display: none;
          }
        }
      }
}