@charset 'utf-8';
// font
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Serif+KR&family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Orbitron&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');

$tablet : 1179px;
$mobile : 539px;

//reset
*{margin: 0; padding: 0;}
ul, ol, li{list-style: none;}
a{text-decoration: none; outline: 1; color: #777;}
img, fieldset{border: 0;}
table, th, td{border-collapse: collapse;}
input, select, textarea, form, img, label{vertical-align: middle; box-sizing: border-box;}
textarea{resize: none;}
.hidden{position: absolute; top: -9999px; opacity: 0;}
.wrap::after{content: ''; display: block; clear: both;}

.prev{
  display: inline-block; text-indent: -9999px; transition: 0.5s;

  &::before{
    content: ''; display: block; width: 100%; height: 1px; background: #111; position: absolute; top: 50%; left: 0; transform-origin: left center; transform: rotate(-40deg);; 
  }

  &::after{
    content: ''; display: block; width: 100%; height: 1px; background: #111; position: absolute; top: 50%; left: 0; transform-origin: left center; transform: rotate(40deg);
  }
}

.next {
  display:inline-block; text-indent:-9999px; transition:0.5s;
  
  &::before {
      content:''; display:block; width:100%; height:1px; background:#111; position:absolute; top:50%; left:0%;
      transform-origin:right center; transform:rotate(-40deg);
  }
  &::after {
      content:''; display:block; width:100%; height:1px; background:#111; position:absolute; top:50%; left:0%;
      transform-origin:right center; transform:rotate(40deg);
  }
}

//sub common layout
.content {
    width: 100%;
    padding: 0 0 120px;
  
    .sub_visual {
      width: 100%;
      height: 300px;
      background: #a3c9d4;
    }
  
    .inner {
      width: 1180px;
      margin: 60px auto;
      transition: 0.5s;
  
      h1 {
        font: 40px/1 'Playfair Display', serif;
        color: #444;
        letter-spacing: 1px;
        margin-bottom: 40px;
        position: relative;

        &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 200px;
          height: 60px;
          background-color: #fff;
          z-index: -1;
        }

        &::after{
          content: '';
          position: absolute;
          top: 30px;
          left: 0;
          display: block;
          width: 100%;
          height: 3px;
          background-color: #444;
          z-index: -2;
        }
      }
    }
  }

//tablet
@media screen and (max-width:$tablet){
   .content .inner{
       width: 100%; padding: 0 30px; box-sizing: border-box; 
    }
}
//cellphone
@media screen and (max-width:$mobile){
    
}


//main
@import 'main/loading/loading';
@import 'main/header/header';
@import 'main/visual/visual';
@import 'main/intro/intro';
@import 'main/main_content/main_content';
@import 'main/brand/brand';
@import 'main/news/news';
@import 'main/notice/notice';
@import 'main/slideBanner/slideBanner';
@import 'main/info/info';
@import 'main/footer/footer';
@import 'main/scrollNav/scrollNav';
@import 'main/cookie/cookie';


//sub common
@import 'sub/header/header';
@import 'sub/info/info';
@import 'sub/footer/footer';



//sub page
@import 'sub/department/department';
@import 'sub/community/community';
@import 'sub/member/member';
@import 'sub/gallery/gallery';
@import 'sub/location/location';


