#skipNav a{
    display: block; width: 100%; height: 80px; position: fixed; background: #fff; font: bold 23px/80px 'Noto Serif KR', serif; color: #444; text-align: center; top: -80px; left: 0; z-index: 3;

    &.on{top: 0;}
}

#header{
    position: fixed; top: 60px; left: 0; width: 100%; background: rgba(255, 255, 255, 1); z-index: 1; transition: 0.5s; box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.05);

    // .gnbBg{
    //     width: 100%; height: 232px; position: absolute; top: 80px; left: 0; border-top: 1px solid rgba(255, 255, 255, 0.2); box-sizing: border-box; background: rgba(0, 0, 0, 0.35); z-index: 1; display: block; overflow: hidden;
    // }
    
    .inner{
        position: relative;width: 1180px;height: 80px;margin: 0 auto; transition: 0.5s;
    
        h1{
            position: absolute; left: 0; top: 50%; transform: translateY(-60%);
        
            a{
                font: bold 35px/1 'Dancing Script', cursive; color: #222; padding: 15px 0px 15px 0px;
            }

        }

        #gnb{
            width: 711px; position: absolute;top: 0; left: 50%; margin-left: -355px; z-index: 2;
        
            &::after{
                content: ''; display: block; clear: both;
            }

            > li{
                float: left;
            
                > a{
                    display: block;padding: 32px 35px;font: bold 16px/1 'Playfair Display', serif; color: #444; text-align: center;

                    &:hover{
                        color: orange;
                    }
                    &.on{
                        color: orange;
                    }
                }
                >ul{
                    display: none; width: 100%; text-align: center; padding: 35px 0; 
                    li{
                        a{
                            display: block; padding :7px 0; font: 15px/1.5 '맑은 고딕'; color: #666; 

                            &:hover{color: rgba(255, 166, 0, 0.788);}
                        }
                    }
                }
            }
        }//#gnb

        #util{
            position: absolute; right: 0;  top: 50%; transform: translateY(-50%); 
        
        &::after{
            content: ''; display: block; clear: both;
        }

            li{
                float: left; margin-right: 13px;
            
                a{
                    font: 11px/1 'Noto Serif KR', serif;; color: #777; 

                    &:hover{text-decoration: underline;}
                }
            }
        }//#util

        .allMenu{
            position: absolute; top:50%; right: 20px; margin-top: -15px; font-size: 30px; color: #444; display: none;
        }//.allMenu
        
    }//.inner
}//#header

#rwdGnb{
    width: 100%; height: 100%; position: fixed; top:0; left: 0;  background-color: rgba(0, 0, 0, 0.9); z-index: 9; text-align: center; display: none;

    >ul{
        display: inline-block; height: 100%; padding: 50px 0; box-sizing: border-box;
        >li{
            height: calc(100% / 5);
            >a{
                display: block; height: 100%; font: bold 40px/1 'Playfair Display', serif; color: rgba(255,255,255,0.5); position: relative; padding: 0 15px; 

                &::after{
                    content: attr(rwdGnb-a-after); display: block; width: 100%; height: 3px; background: rgba(255,255,255,0.5); position: absolute; top: 23px; left:0; margin-top: -1px;
                }

                &:hover{
                    color: #fff;

                    &::after{
                        background: #fff; animation:a-width 0.5s 1; animation-fill-mode: forwards;
                    }
                }
            }
        }
    }

@keyframes a-width{
    from{width: 100%;}
    to{width: 0;}
} 

    >.clx{
        display: block; width: 40px; height: 40px; position: absolute; z-index: 10; top: 30px; right: 30px;

        &::before{
            content: ''; display: block; width: 100%; height: 2px; background: rgba(255,255,255,0.5); position: absolute; top: 50%; transform: rotate(45deg); 
        }
        &::after{
            content: ''; display: block; width: 100%; height: 2px; background: rgba(255,255,255,0.5); position: absolute; top: 50%; transform: rotate(-45deg); 
        }

        &:hover{
            &::before, &::after{
                background: #fff;
            }
        }
    }
}

@media screen and (max-width: $tablet){
    #header {
        .inner{
        width: 100%; height: 80px;

            h1{
                left: 20px;
            }

            nav{
                display: none;
            }

            .allMenu{
                display: block;
            }

        }//.inner
    }//#header

}

@media screen and (max-width: $mobile){

    // #header .inner{
    //     height: 70px;
    // }

}